---
import Base from "../layouts/Base.astro";
---

<Base>
    <div class="flex flex-col gap-6 text-center">
        <h1 class="font-black font-display text-primary text-3xl leading-loose">
            coming soon...
        </h1>
        <a href="/" class="btn btn-link btn-primary">back home</a>
    </div>
</Base>
