---
import Layout from "../layouts/Layout.astro";
import Heading from "../components/Heading.astro";
import RecentGames from "../components/dashboard/RecentGames.astro";
---

<Layout title="Dashboard">
    <Heading page="Dashboard" />
    <main class="grid grid-cols-3 gap-4 divide-x">
        <div>
            <RecentGames limit=3 />
        </div>
    </main>
</Layout>
