---
import Base from "../layouts/Base.astro";
---
<Base title="Home">
    <main class="flex flex-col justify-center items-center gap-4">
        <h1 class="font-black text-secondary text-5xl">StatsPage</h1>
        <p class="tracking-widest">track your play...elevate your game.</p>
    </main>
</Base>