---
export interface Props {
    title?: string;
}
const {title = ""} = Astro.props
---

<head>
    <title>{title ? title + " | StatsPage" : "StatsPage"}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="p-4 container flex justify-center items-center w-full min-h-screen mx-auto">
    <slot />
</body>